body{
    background-color: #23395d;
    margin: 0;
}

#Page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background-color: #3e424b;
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
}

#brand-name{
    margin-left: 15px;
    margin-right: auto;
}

a{
    color: inherit;
    text-decoration: none;
    margin-right: 15px;
}

#page-content{
    display: flex;
    width: 100vw;
    align-items: center;
}

#deck-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin: 15px;
}

#deck-list{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75vh;
    width: 20vw;
}

#search-button {
    width: 100%;
}

#results{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#card {
    background-color: white;
    outline: solid black;
    width: min-content;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    font-size: small;
}

#card-image{
    margin-top: 15px;
    margin: 5px;
    width: 200px;
}

#commander-card {
    background-color: white;
    outline: solid black;
    width: min-content;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    font-size: small;
    order: -1;
}

#commander-image{
    margin-top: 15px;
    margin: 5px;
    width: 450px;
}